html, body { 
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div { 
    color: white;
    font-size: 30px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    position: relative;
    width: 1000px;
    height: 500px;
    border: 2px solid white;
}

#selector {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: white;
    z-index: 1;
    color: black;
}

#option {
    z-index: 50;
}